



    <div class="row">
        <div class="col-md-6">
            <address>
                91 Pham van Hai, Ho Chi Minh City, Vietnam
            </address>
            <table>
                <tr>
                    <td>Opening Hours</td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <td>Sunday to Saturday</td>
                    <td>10:00 AM- 10:00 PM</td>
                </tr>            
            </table>
        
        </div>


        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.226421945218!2d106.66082161516033!3d10.793962861820457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529328c9de337%3A0xdd463b6e1da10db2!2zOTEgUGjhuqFtIFbEg24gSGFpLCBwaMaw4budbmcgMywgVMOibiBCw6xuaCwgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1487053213078"  allowfullscreen></iframe>
        
        </div>
    </div>
