

<div class="homepage">
    <h1> Welcome to Tasty</h1>
    <div class="row">   
        <div class="col-sm-12 col-md-6">
                <img src="http://my.propcom.co.uk/data/legacy/galleries/3705_69799_large.jpg" alt="shot of the restaurant">
        </div>
        <div class="col-sm-12 col-md-6">
                <img src="http://my.propcom.co.uk/data/legacy/galleries/3705_69790_large.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6">
                <img src="http://kazan-restaurant.com/img/large-images/home.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6">
                <img src="http://my.propcom.co.uk/data/legacy/galleries/3705_69782_large.jpg" alt="">        
        </div>
    
    
    </div>

</div>