@import "bootstrap";
@import "font-awesome";

// VARIABLES //

$brk-small : '(max-width : 991px)';
$brk-medium : '(min-width :991px)';
$color_background_navigation:#303030;
$color_background_body:#F1EBDA;
$color_text:#333333;
$color_text_light :#EFE9D8;

$font : 16px;


*, {
    padding: 0;
    border: 0;
    text-decoration: none;
    color: $color_text;
}
a, a:hover {
    text-decoration: none !important;
    
}
a {
    
}
a:hover {
    

}


// NAVBAR


.navbar {
    background-color: $color_background_navigation;
    color: $color_text_light !important;
    display: inline-block;
    width:25%;
    height: 100vh;
    font-size: 1.2rem;
    text-transform: uppercase;
    
    

    @media #{$brk-small} {
    width:100%;
    height:auto;
    }

    @media #{$brk-medium} {  //on bigger screen the navbar will be flex
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    }
}
.navbar-brand {
    font-size: 3rem;
}
.navbar a {
    color: $color_text_light !important;
}


.navbar-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;

    @media #{$brk-medium} {
        height: 60vh;
        

    }

}
.nav-item {
    width:100% ;
    display: inline-block;
    text-align: center;
    
}
nav button{
    position: relative;
    top: 1.7rem;
    background-color:$color_text_light !important;

}
nav button:hover, nav button:focus {
    background-color: lighten($color_text_light,10%) !important;
}

//CONTAINERS

.content-container {
    display: inline-block;
    width: 70%;
    min-height: 100vh;
    padding: 2rem;
    @media #{$brk-medium}{
    margin-left: 25%;
    }
    @media #{$brk-small} {
    width:90%;
    margin: auto;
    
    }
}

#box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $color_background_body;
}

// GOOGLE feDisplacementMap

iframe {
    width:100%;
    min-height: 400px;
    max-height: 700px;
    border-radius: 1rem;
}


// STYLE THE ADDRESS AND HOURS TABLE




//BTN GROUP 




// MENU TILES

.menu_list { //container for all the menu items
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.menu_container { //container for single menu item
    background-color: darken($color_background_body,15%);
    border: 1px solid $color_background_navigation;
    width:45%;
    min-width:500px;
    height: auto;
    min-height:5rem;
    margin-top: 10px;
}
.menu_list img {
    width:100%;
    min-width: auto;
    height: auto;
}
.menu_container span {
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    color:$color_text;
    text-align: center;

}
.menu_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 1rem;
}

//STYLE THE TABLES
table {
    width: 100%;
    height: auto;
}
tr {
    margin-top: 2rem;
    height: auto;
}

td,th {
    height: auto;
    padding-right: 1rem;
}



// STYLE THE ORDER FORMS

.form-2,.form-3 {
    width:44.5%;
    display: inline-block;
    
}
.form-2 {
    margin-right: 5%;
}
.form-3{
    margin-left: 5%;
}



// IMAGE SHOW PAGE 
#show_page {
    font-size: 1.3rem;
}
#show_page p {
    padding:1rem;
}
#show_page strong {
    padding-right:1rem;
}
#show_image {
    width: 100%;
    height: auto;
}
#show_image img {
    width: 100%;
    
}
